/* inicio.css */

.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto; /* Agrega overflow: auto para permitir barras de desplazamiento */
}

.titulo {
  color: black;
  padding: 2rem;
  background-color: rgb(248, 248, 6);
}

/* Estilos específicos para el carrusel dentro del contenedor */
.carousel {
  border: solid 5px;
  max-width: 800px;
  margin: auto;
}
