.navBar {
  padding: 1rem;
  background-color: rgb(0, 0, 255);
  color: white;
  background-image: url(./assets/img/banner2.jpg);
  background-size: cover;
  background-position: center;
}
  
  .fw-bold {
    font-weight: bold;
  }
  
.nav-link {
    color: white !important; /* Establecer el color predeterminado del texto */
  }
  
  .fw-bold {
    color: blue !important; /* Cambiar el color del texto cuando está en negrita */
  }
  