.Temporadas {
    margin-top: 2rem;
    padding: 1rem;
    border: solid 0.2rem;
    background-color: rgb(240, 243, 87);
    width: 80%; 
    margin: auto; 
    padding: 1rem;
    height: auto;
    text-align: center;
    width: 80%;
  }
  

   
