/* carrousel.css */

.carousel {
  max-width: 100%;
}

.carousel-caption h3,
.carousel-caption p {
  color: black;
}

.carousel-image {
  width: 100%;
  height: auto; /* Cambiado a "auto" para mantener la proporción de la imagen */
  object-fit: cover;
}
