/* banner.css */

.banner-container {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 4rem; /* Ajusta la altura según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
}
